@font-face {
    font-family: NeutraText-Bold;
    src: url(/resource/TDP_Pathway_Resources/TDP_Pathway_Resources/fonts/NeutraText-Bold.ttf);
}

/* .THIS h2{
    font-family: NeutraText-Bold !important;
} */

.THIS button:focus {outline:0 !important;}

.THIS .tdc-container-width {
    max-width:1300px; 
    /* width: 80%; */
    margin-left:auto; 
    margin-right:auto;
    min-height: 75vh;
} 

.THIS .search-container{
    background-color: #f3f2f2;
    border: 1px solid #f3f2f2;
    /* border-right: 1px solid #195594;
    border-top: 1px solid #195594; */
}

.THIS p{
    font-size: 18px;
    color: #7c868d;
    line-height: 28px;
}

.THIS .slds-input-has-icon .slds-input__icon{
    width: 1.5rem;
    height: 1.5rem;
    top: 40%;
}

.THIS .slds-input-has-icon .slds-button_icon{
    width: 1.2rem;
    height: 1.2rem;
    top: 40%;
}

.THIS .search{
    display: flex;
    align-items: center;
}

.THIS .search .slds-input{
    height: 50px;
    /* margin-bottom: -8px; */
    padding: 0px 3.0rem;
}

.THIS .filter{
    display: flex;
    align-items: center;
    width: 100px;
}

.THIS .filter span{
    font-size: 1rem;
    cursor: pointer;
}

.THIS .filter-section{
    transition: all .2s ease-in-out !important;
    border-bottom: 4px solid #195594;
    border-left: 1px solid #f3f2f2;
    border-right: 1px solid #f3f2f2;
    max-height: 1000px;
    opacity: 1;
    /* overflow: hidden; */
}

.THIS .slds-is-collapsed{
    max-height: 0px;
    height: auto;
    opacity: 0;
    pointer-events: none;
}

.THIS ol, .THIS ul {
    list-style: none;
    margin-left: 0;
}


.THIS .slds-dropdown{
    width: 100%;
}

.THIS .filter-btn button{
    width: 100%;
}

.THIS .slds-dropdown-trigger{
    width: 100%;
}

.THIS .slds-form-element__label{
    text-transform: uppercase;
}

.THIS .filter-actions{
    align-self: flex-end;
    text-align: center;
    margin-bottom: 10px;
    /* width: 205px; */
}

.THIS .label-cont{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 20px;
}

.THIS .clear{
    justify-content: flex-end;
    display: flex;
}

.THIS .slds-backdrop{
    background: black !important;
    opacity: .5;
}

.THIS .title{
    color: #006dcc;
    /* font-size: 1.4rem; */
}

.THIS .region{
    color: #006dcc;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    /* font-family: 'NeutraText-Bold'; */
}

.THIS .vendor-body{
    transition: all .2s ease-in-out !important;
    max-height: 10000px;
    opacity: 1;
    overflow: hidden;

}

/* .THIS .slds-is-collapsed{
    max-height: 0px;
    height: auto;
    opacity: 0;
    pointer-events: none;
} */

.THIS .collapse .vendor-body{
    max-height: 0px;
    height: auto;
    /* opacity: 0; */
    pointer-events: none;
}

.THIS .slds-box:hover{
    background: #f3f2f2;
    /* cursor: pointer; */
}

.THIS .slds-box:hover > .vendor{
    cursor: pointer;
}

.THIS .vendor.active{
    background: #f3f2f2;
    
}

.THIS .active{
    background: #f3f2f2;
}

.THIS .section > div:first-child{
    font-weight: bold;
    font-size: 1rem;
    padding-top: 1.2rem;

}

.THIS .header{
    font-weight: bold;
}

.THIS .message{
    font-style: italic;
}

.THIS .approval{
    /* text-align: center; */
    width: 80px;
    /* margin-left: 10px;
    margin-right: 12px; */
}

.THIS .approved svg{
   fill: #2573a9;
}

.THIS .not-approved svg{
    fill: #e9eaec;
}

.THIS .slds-text-heading_large{
    font-size: 1.5rem;
}

.THIS .filter-input{
    width: 215px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.THIS .action-btn{
    width: 97px;
    padding-left: 0px;
    border-radius: 15px;
    margin-top: 5px;
}

.THIS .expertise-btn{
    bottom: 10px;
    right: 100px;
}

.THIS .expertise{
    z-index: 9998;
}

.THIS .expertise-modal{
    z-index: 9999;
}

.THIS ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    scroll-padding: 50px 0 0 50px;
  }
  
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #135F90;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    border: solid 3px transparent;
  }

  .THIS .edit{
    padding-left: 8px;
  }

  .THIS .edit:hover{
    cursor: pointer;
  }

  .THIS .hide{
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
  }

@Media only screen and ( max-width : 1300px) {

    .THIS .tdc-container-width {
        width: 90% !important;
        max-width: 90%;
    }  

}